.services-h {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 24px;

  & span {
    color: #c60912;
  }
}

.services-h-com {
  font-size: 32px;
  font-weight: 700;
  color: white;
  margin-bottom: 16px;

  & span {
    color: #c60912;
  }
}

.services-p {
  color: white;
  text-align: center;
  margin-bottom: 24px;
}

.services-p-com {
  color: white;
  margin-bottom: 16px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 36px;
  margin-bottom: 80px;

  .services-item {
    .services-item-img {
      position: relative;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
      }
    }
  }
}

.choose-plan-center {
  display: flex;
  align-items: center;
  justify-content: center;

  .choose-plan {
    width: 260px;
    height: 40px;
    border: 1px solid #d90a14;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mounthly {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 33px;
      background: #c90b13;

      & span {
        font-size: 14px;
        font-weight: 400;
        color: white;
      }
    }

    .annualy {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      font-weight: 400;
      color: white;
    }
  }
}

.plan-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  margin-top: 24px;
  margin-bottom: 80px;

  .plan-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    border: 3px solid #cd4e17;
    border-radius: 8px;

    .package {
      color: #cd4e17;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .pro {
      color: white;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .pro-desc {
      color: #bb4715;
      font-size: 12px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    .pro-desc-long {
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    & li {
      list-style-type: disc;
      color: white;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }

    .price {
      margin-top: 16px;
      font-size: 14px;
      font-weight: 400;
      color: white;

      & span {
        font-size: 28px;
        font-weight: 700;
      }
    }

    & button {
      margin-top: 16px;
      width: 100%;
      border-radius: 20px;
      border: none;
      padding: 8px 0;
      background: #cd4e17;
      font-size: 18px;
      font-weight: 500;
      color: white;
      cursor: pointer;
    }
  }
}

.fitness-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools-grid {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin-bottom: 80px;

  .tools-item {
    .tools-item-img {
      position: relative;

      & img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
    }
  }
}

.customers {
  display: flex;
  align-items: flex-end;
  margin-bottom: 80px;

  .c-1 {
    width: 20%;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .customer-desc {
    width: 40%;
    background: #5b0408;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 12px;
    margin-right: 24px;
    margin-left: 12px;

    .customer-name-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .customer-div {
        display: flex;
        flex-direction: column;

        .name {
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-bottom: 10px;
        }

        .trainer {
          font-size: 14px;
          font-weight: 400;
          color: #8b8b8b;
        }
      }
    }

    & p {
      font-size: 12px;
      font-weight: 400px;
      color: white;
      line-height: 18px;
      text-transform: capitalize;
    }
  }

  .c-2,
  .c-3 {
    width: 10%;
    height: 100%;
    margin-right: 16px;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
    }
  }
}

.trainers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 24px;
  margin-bottom: 80px;

  .trainers-item {
    border-radius: 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    border: 1px solid #5b0408;

    .trainers-item-img {
      width: 100%;
      /* height: 65%; */

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .trainers-info {
      width: 100%;
      /* height: 35%; */
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 12px;

      .trainer-name {
        font-size: 24px;
        font-weight: 700;
        color: white;
      }

      .trainer-desc {
        font-size: 16px;
        font-weight: 500;
        color: #a9a9a9;
      }
    }
  }
}

.learn-more {
  position: absolute;
  bottom: 24px;
  left: 16px;
  display: flex;
  align-items: center;

  & p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-right: 6px;
  }

  & i {
    color: #cc4e18;
  }
}

.learn-more-trainer {
  display: flex;
  align-items: center;
  gap: 4px;

  & p {
    font-size: 14px;
    font-weight: 400;
    color: white;
    margin-right: 6px;
  }

  & i {
    color: #cc4e18;
  }
}

.controls {
  display: flex;
  align-items: center;

  & div {
    border: 1px solid white;
    border-radius: 8px;
    padding: 8px;
    margin-right: 12px;
    cursor: pointer;

    & i {
      color: white;
      font-size: 20px;
    }
  }
}

.community {
  display: flex;
  align-items: stretch;
  gap: 24px;
  margin: 80px 0;

  .left-com {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
    width: 50%;

    .left-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      .left-grid-item {
        padding: 12px;
        border-radius: 12px;
        background: #464141;

        & p:first-of-type {
          color: white;
          margin-bottom: 8px;
          font-size: 16px;
          font-weight: 500;
          line-height: 29px;

          & span {
            color: #d90a14;
          }
        }

        & p:last-of-type {
          font-size: 12px;
          font-weight: 400;
          color: white;
          line-height: 20px;
        }
      }
    }
  }

  .right-com {
    width: 50%;
    height: 100%;
    background: #5b0408;
    border-radius: 12px;
    padding: 16px 24px;
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    gap: 12px;

    .login-register {
      display: flex;
      align-items: center;
      justify-content: center;

      & span:first-of-type {
        font-size: 24px;
        font-weight: 700;
        color: #d90a14;
        margin-right: 16px;
      }

      & span:last-of-type {
        color: #ee8e93;
        font-size: 20px;
        font-weight: 600;
      }
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .name-form,
      .email-form {
        display: flex;
        flex-direction: column;
        gap: 8px;

        & label {
          font-weight: 500;
          color: white;
        }

        & input {
          border-radius: 4px;
          border: 2px solid #d9d9d9;
          padding: 8px 4px;
          background: transparent;
          color: white;
          outline: none;

          &::placeholder {
            font-size: 10px;
            color: white;
          }
        }
      }

      .btn-signup {
        background: #d90a14;
        border: none;
        border-radius: 4px;
        padding: 8px 0;
        color: white;
        font-size: 18px;
        font-weight: 500;
      }

      .btn-signup-google {
        background: transparent;
        border: 2px solid white;
        border-radius: 4px;
        padding: 7px 0;
        font-weight: 500;
        color: white;
      }
    }
  }
}

.faq {
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  border: 1px solid #d90a14;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #ee8e93;
}

.faq-answer {
  display: none;
  background-color: #464141;
  padding: 10px;
  border-radius: 6px;
  margin-top: 5px;
}

.faq-item.active .faq-answer {
  display: block;
}

.faq-item.active .faq-question {
  background-color: #ee8e93;
}
