header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;

  .left-header {
    display: flex;
    align-items: center;
    width: 20%;

    .search-bar {
      width: 40px;
      height: 40px;
      padding: 6px 8px;
      background: #4d4a4a;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      cursor: pointer;
      margin-left: 24px;
    }
  }

  nav {
    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60%;

      & li {
        & a {
          text-decoration: none;
          color: white;
          font-weight: 500;
        }
      }
    }
  }

  .login-buttons {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn-login {
      border: 1px solid #cd4e17;
      border-radius: 12px;
      padding: 6px 16px;
      background-color: transparent;
      color: #cd4e17;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }

    .btn-signup {
      border: none;
      border-radius: 12px;
      background-color: #d90a14;
      color: white;
      padding: 6px 10px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
    }
  }
}

main {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
